<div>
  <div>
    <h1>
      Posts
    </h1>
  </div>
</div>

<div class="my-3">
  <a href="posts/new" class="btn btn-primary">Create Post</a>
</div>

<hr>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label :content_cont, "Content containing" %>
    <%= f.text_field :content_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/posts">Clear filters</a>
<% end %>

<hr>

<%= render "posts/table" %>
