<div>
  <div>
    <h1>
      Post #<%= @the_post.id %> details
    </h1>

    <div>
      <div>
        <a href="/posts">
          Go back
        </a>
      </div>

      <% if @current_user.present? && @the_post.user_id == @current_user.id %>
        <div>
          <a href="/posts/<%= @the_post.id %>/edit">
            Edit post
          </a>
        </div>

        <div>
          <a href="/delete_post/<%= @the_post.id %>">
            Delete post
          </a>
        </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Content
      </dt>
      <dd>
        <%= @the_post.content %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_post.user.username %>
      </dd>

      <dt>
        Link
      </dt>
      <dd>
        <%= @the_post.link %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
<h3>Comments</h3>
<%= render "comments/table", comments: @the_post.comments %>
